# Azure AI Foundry Configuration
AZURE_EXISTING_AIPROJECT_ENDPOINT="https://ai-foundry-std-ai-foundry.services.ai.azure.com/api/projects/project-1"
AZURE_OPENAI_ENDPOINT="https://ai-foundry-std-ai-foundry.openai.azure.com/"
AZURE_AI_AGENT_DEPLOYMENT_NAME=gpt-4.1
AZURE_OPENAI_API_VERSION=2023-05-15

# Azure Storage
AZURE_STORAGE_ACCOUNT_NAME=publicthisfndrysak6jep
AZURE_STORAGE_ACCOUNT_URL="https://publicthisfndrysak6jep.blob.core.windows.net"

# Azure AI Search:
AZURE_SEARCH_ENDPOINT="https://public-this-ai-foundry-ai-search-k6jep.search.windows.net"

# Test Configuration
TEST_APP_ID="60000"
TEST_USER_OBJECT_ID="00000000-0000-0000-0000-000000000000"
#TEST_GROUP_OBJECT_ID="00000000-0000-0000-0000-000000000000"
RESOURCE_GROUP="rg-ai-foundry-standard"
AZURE_REGION="eastus2"
API_BASE_URL="https://insights-agent-api.bluemeadow-6eddaa0f.eastus2.azurecontainerapps.io"

# Enable Portal Tracking
ENABLE_FOUNDRY_TRACKING=true